<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <!-- body onLoad=jqueryCk(); -->
  <body>
    <main>
      <div id="container">
        <div id="pagewrap">
          <header style="margin: 0; padding: 0; border: 0;">
            <% include ../partials/header %>
          </header>
          <hr>
        	<section id="content">
            doH!!
        	</section>
          <hr>
        	<footer style="border: 0;">
            <% include ../partials/footer %>
        	</footer>
        </div>
      </div>
    </main>
  </body>
</html>
